{% extends "base.html" %}
{% block body %}

<ul>
{% for post in posts %}
    <li><a href="/{{ post['slug'] }}/">{{ post['title'] }}</a></li>
{% else %}
    <li>No posts found</li>
{% endfor %}
</ul>

{% block pagination -%}
{% if pagination -%}
<div class="pagination">
    {% if pagination.previous_page -%}
        <a href="{{url.path}}?page={{pagination.previous_page}}">Previous</a>
    {% endif %}
    {% if pagination.previous_page -%}
        <span>&nbsp;|&nbsp;</span>
    {% endif %}
    <span>{{ pagination.page }} of {{ pagination.num_pages }}</span>
    {% if pagination.next_page -%}
        <span>&nbsp;|&nbsp;</span>
    {% endif %}
    {% if pagination.next_page -%}
        <a href="{{url.path}}?page={{pagination.next_page}}">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock pagination %}
{% endblock body %}
