{{ site_title }}

<ul>
{% for post in posts %}
    <li><a href="/{{ post['slug'] }}/">{{ post['title'] }}</a></li>
{% else %}
    <li>No posts found</li>
{% endfor %}
</ul>

{% block pagination -%}
{% if pagination -%}
<div class="pagination">
    {% if pagination.previous -%}
        <a href="{{url.path}}?page={{pagination.previous}}">Previous</a>
    {% endif %}
    {% if pagination.previous -%}
        <span>&nbsp;|&nbsp;</span>
    {% endif %}
    <span>{{ pagination.page }} of {{ pagination.num_pages }}</span>
    {% if pagination.next -%}
        <span>&nbsp;|&nbsp;</span>
    {% endif %}
    {% if pagination.next -%}
        <a href="{{url.path}}?page={{pagination.next}}">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock pagination %}
